In [1]:
import pandas as pd

In [35]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',delimiter='|',index_col='user_id')

In [3]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [4]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [8]:
users.loc[['M'],['age']]

KeyError: "None of [Index(['M'], dtype='object', name='user_id')] are in the [index]"

In [10]:
users.groupby('occupation')['age'].agg(['min','max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [14]:
users.groupby(['occupation','gender'])['age'].agg(['min','max'])

                      min  max
occupation    gender
administrator F        22   62
              M        21   70
artist        F        19   48
              M        20   45
doctor        M        28   64
educator      F        23   51
              M        25   63
engineer      F        23   36
              M        22   70
entertainment F        24   38
              M        15   50
executive     F        39   49
              M        22   69
healthcare    F        22   53
              M        28   62
homemaker     F        20   50
              M        23   23
lawyer        F        28   51
              M        21   53
librarian     F        26   59
              M        23   69
marketing     F        24   50
              M        24   55
none          F        26   55
              M        11   33
other         F        18   55
              M        13   64
programmer    F        26   38
              M        20   63
retired       F        70   70
              M        51   73
salesman      F        18   33
              M        21   66
scientist     F        26   31
              M        23   55
student       F        13   38
              M         7   42
technician    F        38   38
              M        21   55
writer        F        18   56
              M        21   60

In [37]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [31]:
users[users['gender'] == 'M'].count()[0]

670

In [32]:
users[users['gender'] == 'F'].count()[0]

273

In [34]:
users

         age gender     occupation zip_code  gender_n
user_id
1         24      M     technician    85711         1
2         53      F          other    94043         0
3         23      M         writer    32067         1
4         24      M     technician    43537         1
5         33      F          other    15213         0
...      ...    ...            ...      ...       ...
939       26      F        student    33319         0
940       32      M  administrator    02215         1
941       20      M        student    97229         1
942       48      F      librarian    78209         0
943       22      M        student    77841         1

[943 rows x 5 columns]